body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background: #efefef;
}

.centered-div {
  width:100%;
  max-width:1200px;
  margin: 0 auto;
}

#header{
  position: relative;
}

.centered-text {
  text-align:center;
}

#main {
  width:100%;
}

.big-heading {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.grad {
  background: -moz-linear-gradient(top, #131621 0%, #3f4c6b 49%, #131621 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #131621 0%,#3f4c6b 49%,#131621 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #131621 0%,#3f4c6b 49%,#131621 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131621', endColorstr='#131621',GradientType=0 ); /* IE6-9 */
}

.grad-grey {
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #cdcdcd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#cdcdcd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f9f9f9 0%,#cdcdcd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
}

.modal-300 {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
  border-radius: 5px;
  background: #fff;
  position: absolute;
  top: 150px;
  left: calc(50% - 150px);
  z-index: 20;
  padding: 20px;
  text-align:center;
  width: 300px;
  height: 40px;
  color:#888;
}

.wait {
  font-style: italic;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:50px;
}

.no-scroll {
  overflow: hidden;
}

#gameCanvas {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  background: #000;
  text-align: center;
}

#content {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}